/* DEFAULTS */
* {
    color: #777;
}

section {
    clear: both;
    padding: 15px 0;
}

/* COLORS */
.bg-green {
    background-color: #0EEA2D;
}

.text-green {
    color: #0EEA2D;
}

.bg-yellow {
    background-color: #FFF300;
}

.text-yellow {
    color: #FFF300;
}

.bg-blue {
    background-color: #00B7F2;
}

.text-blue {
    color: #00B7F2;
}

.bg-pink {
    background-color: #FD00FF;
}

.text-pink {
    color: #FD00FF;
}

.bg-orange {
    background-color: #FF9933;
}

.text-orange {
    color: #FF9933;
}

.bg-white {
    background-color: #FFF;
    color: inherit;
}

.bg-off-white {
    background-color: #FAFAFA;
    color: inherit;
}

/* NAV */
.navbar-default .navbar-nav > li > a {
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    border-top: solid 3px transparent;

    transition: border-color .5s ease-in-out, color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out, color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out, color .5s ease-in-out;
    -o-transition: border-color .5s ease-in-out, color .5s ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
    color: #FF9933;
    border-top-color: #FF9933;
    background-color: transparent;
}

/* OTHER */
.intro {
    clear: both;
    display: table;
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    padding: 10% 0;

    background: url("http://i.imgur.com/7PmGxFA.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin: 0 15px;
    display: inline-block;
    text-transform: uppercase;
    border: solid #FFF 2px;
    background-color: rgba(21, 21, 21, 0.75);
}

.inner h1 {
    color: #FFF;
    margin: 10px;
}

/* HORIZONTAL LINE */
hr.orange {
    margin: 2px auto 3%;
    text-align: center;
    width: 10%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(255, 153, 51, 0.75), transparent);
}

/* PROGRESS BAR */
.progress-bar-orange {
    background-image: -webkit-linear-gradient(top, #FF9933 0%, #DA8025 100%);
    background-image: -o-linear-gradient(top, #FF9933 0%, #DA8025 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9933), to(#DA8025));
    background-image: linear-gradient(to bottom, #FF9933 0%, #DA8025 100%);
    background-repeat: repeat-x;
}

.progress-font {
    font-size: 15px;
    margin: 0;
    padding: 0;
}